$boxes: 10;
$durationAll: .8s;
$duration: - $durationAll / $boxes;
$color: white;

.progBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 4;

  span {
    margin-bottom: 10px;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
  }
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  .loader {
    height: 100%;
    display: flex;
    transform: translateZ(0);

    div.spaces {
      flex: 1;
      background: #{$color};
      animation: go #{$durationAll} infinite alternate ease;
      box-shadow: 0 0 20px #{$color};

      @for $i from 1 through $boxes {
        &:nth-child(#{$i}) {
          animation-delay: $duration * ($boxes - $i);
        }
      }
    }
  }
}

.page-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #f12711;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ff6804, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ff6804, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 3;

  &.loaded {
    visibility: hidden;
  }
}

@keyframes go {
  100% {
    background: transparent;
    flex: 10;
    box-shadow: 0 0 0 transparent;
  }
}