<div class="progBar animated" [ngClass]="progBarFxClass()">
  <span>Content is being loaded...</span>
  <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
  <div class="wrapper">
    <div class="loader">
      <div class="spaces" *ngFor="let div of divArray"></div>
    </div>
  </div>
</div>

<div class="page-loader animated" [class.loaded]="!enterLoader" [ngClass]="bgFxClass()"></div>