<section class="intro" [style.backgroundImage]="homepageBackgroundURL">
  <p>Your Space...</p>
  <button mat-raised-button color="primary" routerLink="/areas">See Areas</button>
  <div class="scroll-indicator">
    <span class="animated fadeIn delay-1s">Scroll</span>
    <div class="bottom-line"></div>
  </div>
</section>

<!-- dummy img just to trigger the onload event for the BG -->
<app-img-wrapper style="display: none;" [src]="'/assets/homepage1.jpg'"></app-img-wrapper>

<div class="content-wrapper">
 
  <section class="info">
    <hr>
    <h1>What we do?</h1>
    <p>We aim to excel and offer a diverse range of services, built on costumer needs.</p>
    <p>Whether the service is real estate for housing, lease or investment, we have the resources to offer you a solution that suits your needs. We seek to optimize your investment through a careful analysis of your requirements and objectives. In order to be the best, we build strong relationships with strategic partners, leaders in their respective areas.</p>
    <p>We offer custom-tailored solutions based on the clients requirements. Also we are quite agile in the process of buying or selling a house.</p>
  </section>
  
  <section class="showcase-images">
    <app-img-wrapper [src]="'/assets/homepage-facade-1.jpg'"></app-img-wrapper>
    <app-img-wrapper [src]="'/assets/homepage-facade-2.jpg'"></app-img-wrapper>
  </section>
  
  <section class="info right">
    <hr>
    <h1>Why us?</h1>
    <p>We are independent brokers that collaborate together with other real estate agencies. This allows us to offer you real estate products that suit your wish and budget, hence putting your own interest in front of the companies.</p>
  </section>
  
  <!-- <section class="stakeholder-images">
      <img src="/assets/stakeholder-1.jpg" alt="">
      <img src="/assets/stakeholder-2.jpg" alt="">
  </section> -->

</div>