$secondary-color: rgb(255, 104, 4);

section.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; // firefox fallback
  min-height: -webkit-fill-available;
  background-position: center;
  background-size: cover;

  > * + * {
    margin-top: 20px;
  }

  p {
    font-size: 48px;
    color: white;
  }

  .scroll-indicator {
    position: absolute;
    bottom: 0;
    right: 10px;
    color: $secondary-color;
    transform: rotate(-90deg) translateX(100%);

    .bottom-line {
      display: block;
      width: 0%;
      height: 3px;
      margin-top: 5px;
      background-color: $secondary-color;
      animation: scroll-animation 3s cubic-bezier(0.16, 0.28, 0.58, 1) 1s infinite;
    }

    span {
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

@keyframes scroll-animation {
  from {width: 0%;}
  to {width: 250%;}
}

section.info {
  display: flex;
  flex-direction:  column;
  padding: 30px 0;

  hr {
    width: 250px;
    margin-left: 0;
    border-color: #F5F5F5;
  }

  h1 {
    font-size: 30px;
  }
  
  p {
    max-width: 700px;
    margin: 10px 0;
    font-family: 'Exo', sans-serif;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.27px;
  }

  &.right {
    align-items: flex-end;

    hr {
      margin-right: 0;
      margin-left: inherit;
    }
    
    p {
      text-align: right;
    }
  }
}

section.showcase-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  app-image-wrapper {
    text-align: center;
  }

  ::ng-deep img {
    width: 100%;
    max-width: 450px;
    margin: 20px 0;
    box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
  }
}

section.stakeholder-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;

  //temp
  ::ng-deep img:nth-of-type(odd) {
    transform: translateX(12%);
  }

  ::ng-deep img:nth-of-type(even) {
    transform: translateX(-12%);
  }
}

//media queries
@media only screen and (max-width: 500px) {

  section.info {
    p {
      font-size: 20px !important;
      line-height: 30px !important;
    }
  }
}