<header class="animated fadeIn delay-1s" [class.expanded]="isExpanded" [class.forced]="isForced">
  <div class="my-fx" [class.expanded]="isExpanded" [class.forced]="isForced"></div>
  <nav class="content-wrapper">
    <a routerLink="/areas">Areas</a>
    <a class="logo" routerLink="/home"></a>
    <a routerLink="/contact">Contact Us</a>
  </nav>
</header>