$animation-duration: 0.5s;

header {
  position: fixed;
  width: 100%;
  color: white;
  background-color: transparent;
  z-index: 2;
  transition: color $animation-duration ease-in-out;

  &.expanded, &.forced {
    color: black;
  }

  .my-fx {
    position: absolute;
    width: 100%;
    height: 0;
    background-color: transparent;
    z-index: -1;
    transition: all $animation-duration ease-in-out;

    &.expanded, &.forced {
      height: 100%;
      background-color: white;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;

    .logo {
      width: 154px;
      height: 44px;
      background-image: url('/assets/logo-header.png');
      background-size: cover;
    }
  }
}