<section class="my-area header-height-margin">

  <section #gallery class="my-gallery">
    <app-img-wrapper *ngFor="let imageSrc of galleryImages; let i = index" [src]="imageSrc"></app-img-wrapper>
  </section>

  <section class="area-info">
    <h1>{{area.name}}</h1>
    <h6>{{texto}}</h6>
  </section>

  <button class="navigation" (click)="switchPicture(false)" [disabled]="disablePrevious">
    <i class="material-icons">navigate_before</i>
  </button>
  <button class="navigation" (click)="switchPicture(true)" [disabled]="disableNext">
    <i class="material-icons">navigate_next</i>
  </button>

</section>