section.my-area {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 1fr;
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  box-sizing: border-box;
  overflow-x: hidden;

  section.my-gallery {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    z-index: -1;
    transition: right 2s ease-in-out;

    app-img-wrapper {
      display: flex;
    }

    ::ng-deep img {
      width: 100vw;
      min-width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  }

  section.area-info {
    grid-row: 1/1;
    grid-column: 2/2;
  }

  h1 {
    margin: 0 35px;
    margin-top: 20px;
    font-size: 6vw;
    color: #ffeca3;
  }

  h6 {
    margin: 0 35px;
    font-size: 20px;
    color: #f1f1f1;
    max-width: 650px;
  }

}

// navigation button fx
$button-size: 40px;
$button-color: white;
$button-border-color: #bbbbbb;
$button-hover-color: #ff6804;
$fx-duration-scale: 3; // n times

button.navigation {
  position: relative;
  grid-row: 1/1;
  justify-self: center;
  align-self: center;
  background: none;
  height: $button-size;
  width: $button-size;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px $button-border-color;
  border: 0;
  color: $button-color;
  cursor: pointer;

  &:disabled {
    box-shadow: inset 0 0 0 2px rgba($button-border-color, .5);
    color: rgba($button-color, .5);
    cursor: auto;
  }

  &:first-of-type {
    grid-column: 1/1;
  }

  &:last-of-type {
    grid-column: 3/3;
  }

  &::before, &::after {
    position: absolute;
    box-sizing: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    content: '';
  }

  &::before {
    border: 2px solid transparent;
  }

  &::after {
    border: 0 solid transparent;
  }

  &:hover:enabled {
    color: $button-hover-color;

    &::before {
      border-top-color: $button-hover-color;
      border-right-color: $button-hover-color;
      border-bottom-color: $button-hover-color;
      transition: border-top-color 0.15s * $fx-duration-scale linear, border-right-color 0.15s * $fx-duration-scale linear 0.1s * $fx-duration-scale, border-bottom-color 0.15s * $fx-duration-scale linear 0.2s * $fx-duration-scale;
    }

    &::after {
      border-top: 2px solid $button-hover-color;
      border-left-width: 2px;
      border-right-width: 2px;
      transform: rotate(270deg);
      transition: transform 0.4s * $fx-duration-scale linear 0s, border-left-width 0s linear 0.35s * $fx-duration-scale;
    }
  }
}

//media queries
@media only screen and (max-width: 500px) {
  section.my-area {
    h1 {
      margin: 0 20px;
      margin-top: 20px;
    }
  
    h6 {
      margin: 0 20px;
      margin-top: 10px;
      font-size: 14px;
    }

    button.navigation {
      margin: 0 20px;
    }
  }
}