.area {
  width: 300px;
  height: 150px;
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.2);
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  span {
    padding: 5px;
    color: white;
    background: rgba(0,0,0,0.5);
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
  }
}