:host {
  width: 100%;
  height: 100vh;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  // background: hsla(261, 46%, 84%, 0.3);
}

// TEMP
.top-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  left: 0;
  bottom: auto;
  right: auto;
  background: #6c567b;
  transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
  z-index: 2;

  &.active {
    transform: translateY(100%);
  }

  .top-layer--2 {
    background: #393e46;
    transition-delay: 0.6s;
  }
  .top-layer--3 {
    background: #6c5b7b;
    transition-delay: 0.4s;
  }
  .top-layer--4 {
    background: #c06c84;
    transition-delay: 0.2s;
  }
  .top-layer--5 {
    background: #f67280;
    transition-delay: 0.1s;
  }
}
