<!-- <div class="top-layer">
  <div class="top-layer top-layer--2"></div>
  <div class="top-layer top-layer--3"></div>
  <div class="top-layer top-layer--4"></div>
  <div class="top-layer top-layer--5"></div>
</div> -->

<app-page-loader></app-page-loader>

<app-header *ngIf="showHeader()"></app-header>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>

<!--
  - checar viewencapsulation bug e remover ::ng-deep
  - alterar scroll style
  - resolver bugs que ocorrem nos outros browsers;
  - loader entre páginas?
  - checar mobile para as áreas;
  - mudar o logo: o actual nao bate certo com as cores;
  - so depois pensar nas animações das transições;
  - alterar cores material;
-->
