.landing-page {
  height: 100vh;
  background: hsla(261, 46%, 84%, 0.3);
}

video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4; // always above the page loader
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .logo {

    img {
     width: 150px;
     height: 150px;
    }
  }
}