<div class="landing-page">
  <video (loadeddata)="videoLoaded($event)" autoplay loop muted src="/assets/lisbonera.mp4"></video>

  <div routerLink="home" class="logo animated fadeIn delay-1s">
    <!-- <img class="animated bounceIn delay-1s" src="/assets/temp-logo.png" alt=""> -->
    <img class="animated bounceIn delay-1s" src="/assets/logo.png" alt="">
  </div>
</div>
