@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

*:focus { 
  outline: inherit 
}

.content-wrapper {
  max-width: 1400px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.header-height-margin {
  padding-top: calc(48px + 20px); //size + margin
}

.custom-fa-color {
  color: black;
}

// Custom classes
.my-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
}

// override butons color tap (mobile)
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; /* mobile outline */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

// override material icons
.material-icons {
  display: flex;
  justify-content: center;
}