<!-- ONLY USED TO DEFINED BG -->
<div class="my-bg"></div>

<div class="header-height-margin content-wrapper">

  <section class="areas">
    <app-area-wrapper *ngFor="let area of areas" [area]="area"></app-area-wrapper>
  </section>

  <!-- dummy img just to trigger the onload event button's BG -->
  <app-img-wrapper *ngFor="let url of imgURLs" style="display: none;" [src]="url"></app-img-wrapper>

</div>
