<!-- ONLY USED TO DEFINED BG -->
<div class="my-bg"></div>

<div style="position: relative" class="header-height-margin content-wrapper">

  <div class="custom-bg">
    <img src="/assets/contact/papper-plane-bg2.png" alt="">
  </div>
  <div class="custom-bg overlay-bg"></div>

  <section class="my-form">

      <form [formGroup]="myForm">

        <div class="custom-form-field">
          <h1>Contact Us</h1>
          <img src="/assets/contact/air-plane-icon.png" alt="">
        </div>

        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email">
          <mat-error *ngIf="!getControler('email').valid">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        
         <mat-form-field>
            <mat-label>Areas</mat-label>
            <mat-select formControlName="area" multiple>
              <mat-option *ngFor="let area of areas" [value]="area.name">
                {{area.name.toLowerCase()}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Budget (€)</mat-label>
            <mat-select formControlName="budget">
              <mat-option *ngFor="let budget of budgets" [value]="budget">
                {{budget}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="custom-form-field reverse">
            <textarea formControlName="message" class="form-control" id="my-message" rows="8"></textarea>
            <label for="my-message">Please leave a message</label>
          </div>
    
          <button mat-raised-button (click)="submit()" [disabled]="!myForm.valid || isBtnDisabled" type="submit" color="primary">
            <mat-icon *ngIf="!isBtnDisabled">send</mat-icon>
            <mat-spinner *ngIf="isBtnDisabled" style="margin:4px" [diameter]="28"></mat-spinner>
          </button>
    
        </form>

  </section>

</div>