$purple-color: #673ab7;

div.custom-bg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.overlay-bg {
    background-color: rgba(255, 255, 255, 0.7);
  }

  img {
    max-width: 80%;
    max-height: 500px;
  }
}

.my-form form {
  margin: 10px;
  display: grid;
  grid-template-columns: 0.75fr;
  justify-items: center;
  justify-content: center;
  
  > * {
    z-index: 1;
  }

  mat-form-field, div.custom-form-field {
    width: 100%;
    min-width: 150px;
    max-width: 500px;
  }

  div.custom-form-field {
    display: flex;
    margin: 10px 0;

    &.reverse {
      flex-direction: column-reverse;
    }

    img {
      align-self: center;
      height: 25px;
      margin-left: 10px;
    }

    label {
      color: rgba(0, 0, 0, 0.54);
    }

    textarea:focus ~ label {
      color: $purple-color;
      transition: $purple-color 0.25s ease-in-out;
    }

    textarea {
      margin-top: 10px;
      padding: 10px;
      resize: vertical;
      border-radius: 5px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 14px;
      transition: box-shadow 0.25s ease-in-out, border-color 0.25s ease-in-out;
  
      &:focus {
        border-color: $purple-color;
        box-shadow: 0px 0px 10px 1px rgba($purple-color, 0.5);
      }
    }
  }


  button {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 150px;
    max-width: 300px;
  }

}
